body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Plus Jakarta Sans", sans-serif;
    
}
.container{
    flex: 1;
    
}

.navbar-brand i{
    color: #fa424d;
    font-size: 1.8rem;
}

/* footer */
footer{
    background-color: #ebebeb;
    
}
.f-info{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.f-info-socials{
    font-size: 1.5rem; 
}

/* card */

.card{
    /* padding: 0; */
    border: none;
    margin-bottom:2rem;
    

}
.card-img-top{
    border-radius: 1rem;
}
.card-body{
    padding: 0;
}
.card-text{
    font-weight: 500;
}
.card-img-overlay:hover{
    background-color: #fff;
    opacity: 0.2;
}

.listing-link{
    text-decoration: none;
    
}
.form-btn{
    background-color: #fa424d;
    color: white;
    border:none;
}

.form-btn:hover{
    background-color: #e80414b3;
    color: #ebebeb;

}
.form-btn:active{
    background-color: #2b20c6;

}

.show-card-img{
    height: 30vh;
    object-fit: cover;
}